<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>





</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav " >
      <li class="nav-item p-20 m-20"><a class="navbar-brand" href="#">Contest-Reminder</a></li>
      <li class="nav-item"><button type= "nav-button" class=" btn-link  bg-dark" href = "/logout">
       Logout
     </button></li>
   </ul>
</nav>

<br>
<br>
<div class = "d-flex justify-content-center">

  <form action="/submitcontest" method="post">
    <h3>Enter The contest that you want to get notification of </h3>
    <br>
    <div class="form-check ">
      <input class="form-check-input" type="checkbox" value="codeforces" id="codeforces" name = "codeforces">
      <label class="form-check-label" for="codeforces">
        Codeforces
      </label>



    </div>
    <br>
      <div class="form-check ">
        <input class="form-check-input" type="checkbox" value="codechef" id="codechef" name = "codechef">
        <label class="form-check-label" for="codechef">
          Codechef
        </label>
        </div>
<br>
        <div class="form-check ">

              <input class="form-check-input" type="checkbox" value="hackerank" id="hackerank" name = "hackerank">
              <label class="form-check-label" for="hackerank">
              hackerank
              </label>
              <br>
          </div>
<br>
<br>
    <button type="submit" class="btn btn-primary" id="details">Submit</button>
  </form>
  </div>


</body>

</html>
