<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Smart Contest</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/aos/aos.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css') }}">


  <!-- Template Main CSS File --><link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/css/style.css') }}">

  <!-- =======================================================
  * Template Name: Day - v4.6.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  

  <!-- ======= Header ======= -->
  
  {{ans}}
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Smart Contest</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
   
         <!---- <li><a class="nav-link scrollto" href="#team">Team</a></li>-->
          <li class="dropdown"><a href="#"><span>Features</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href= {{url_for('contestReminder')}}>Contest Reminder</a></li>
              <li class="dropdown"><a href= {{url_for('ratingPrediction')}}><span>Rating prediction</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href={{ url_for('codechef') }}>Codechef</a></li>
                  <li><a href={{ url_for('codeforces') }}>Codeforces</a></li>
                  
                </ul>
              </li>
              
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to Smart Contest</h1>
      <h2>We have created a smart way to give your programming contests</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Competitive programming is a mind sport usually held over the internet</h3>
            <p class="fst-italic">In Todays world competitive programming have a lot of demand & competition also in IT sector for Big giants like Google ,Microsoft, Facebook etc. Due to this student have major challenge to learn this skill in this competitive era</p>
            <p >
              The biggest problem to learn Competitive Programming is to register on different websites to check the notifications for upcoming coding event & login on different websites to check their performance & also their strength and weaknesses.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> We have covered you with contest reminder feature.</li>
              <li><i class="bi bi-check-circle"></i> We also have a feature to get your future rating based on past performance.</li>
              
            </ul>
            <p>
              There are a lot of competitive programming websites these days we covered some major ones
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Websites Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
              <span>01</span>
              <h4>Codeforces</h4>
              <p>Codeforces is a website that hosts competitive programming contests. It is maintained by a group of competitive programmers from ITMO University</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <span>02</span>
              <h4>Codechef</h4>
              <p>CodeChef is a competitive programming community of programmers from across the globe. CodeChef was started as an educational initiative in the year 2009 by Directi, an Indian software company.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span>03</span>
              <h4> Hackerrank</h4>
              <p>HackerRank is the market-leading technical assessment and remote interview solution for hiring developers.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Websites Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="row d-flex align-items-center justify-content-center">


          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/codechef.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/codeforces.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/hackerrank.png" class="img-fluid" alt="">
          </div>

        
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container justify-content-center">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>Two major functionaties that we provide are</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Contest Reminder</a></h4>
              <p>After registring at the website this feature will remind the users of any upcoming contests</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Rating Prediction</a></h4>
              <p>After providing your current rating and the future rating you want to achieve this feature can predict the number of questions you should solve to achive that  </p>
            </div>
          </div>

          
        </div>

      </div>
    </section><!-- End Services Section -->

    
   

   
   

    
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class=" justify-content-center">

        <div class="section-title">
          <span>Contact Us</span>
          <h2>Contact Us</h2>
          
        </div>
         
        
         <div class=" row justify-content-center">
          <div class="col-lg-3 col-md-6 justify-content-center">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>deepakbharati16@gmail.com</p>
              <p>abhishekjoshi26121999@gmail.com </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 justify-content-center">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91 9718072142</p>
            </div>
          </div>
        </div>

        </div>
        
        <div class="row justify-content-center" data-aos="fade-up">

          
        <!--<div class="col-lg-6">
            <form action="" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>
-->  
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Smart Contest</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static',filename='assets/vendor/aos/aos.js') }}"> </script> 
  <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"> </script> 
  <script src="{{ url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js') }}"> </script> 
  <script src="{{ url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"> </script> 
  <script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js') }}"> </script> 
  <script src="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js') }}"> </script> 

  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='assets/js/main.js') }}"> </script> 
  

</body>

</html>